.welcome-header {
    margin: 140px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__logo {
    width: 60%;
    margin-top: 38px;
    margin-bottom: 25px;
}
.welcome-header__title {
    margin-bottom: 45px;
    font-size: 35px;
    font-weight: bolder;
    color: #d6d6d3;
    text-shadow: 1px 1px 0 #3b4168;
}

.welcome-header__text {
    width: 48%;
    font-size: 18px;
    opacity: 0.7;
    padding: 13px 20px;
    background-color: #3b4168;
    color: white;
    border-radius: 8px;
    text-shadow: 1px 1px 0 #181b2b;
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input {
    border: none;
    border-radius: 5px;
    padding: 15px 0px;
    font-size: 18px;
    padding-left: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
    transition: border-color 0.3s ease-in-out;
}

#login-form input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
    color: rgba(0, 0, 0, 0.4);
    font-family: "Jura", sans-serif;
    font-weight: bold;
}

#login-form input:focus {
    border-color: var(--blue);
}

#login-form input[type="submit"] {
    cursor: pointer;
    font-family: "Jura", sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px 0 #3b4168;
    color: white;
    background-color: transparent;
    padding: 25px 0px;
    border: 2px solid #6e79c2;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: background-color 0.5s;
}

#login-form input[type="submit"]:hover {
    background-color: #6e79c27a;
    cursor: pointer;
    border: 2px solid #6e79c2;
    color: #f0f0e6;
}

#login-form a {
    text-align: center;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 0 #3b4168;
}
