.more-screen .icon-row {
    margin-top: 35px;
    padding: 0px 30px;
}

.more-suggestions {
    margin-top: 50px;
    border-top: var(--main-border);
    padding-top: 40px;
}

.more-suggestions__title {
    margin-bottom: 30px;
    font-weight: 700;
    text-shadow: 1px 1px 0 white;
}

.more-suggestions__icons {
    display: flex;
    text-shadow: 2px 2px 0 black;
    color: var(--blue);
}

.more-suggestions__icon {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-suggestions__icon-image {
    width: 80px;
    height: 80px;
    border-radius: 25px;
    margin-bottom: 10px;
}
